In [1]:
import pandas as pd

df = pd.read_csv('data/DBData.csv')
df

,Country Name,Country Code,Indicator Name,Indicator Code,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 20
0,Afghanistan,AFG,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,NaN,NaN,24.11,24.11,24.11,24.11,...,24.11,24.11,24.11,24.49,39.38,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Dealing with construction permits (DB16-19 met...,IC.CNST.PRMT.DFRN.DB1619,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.70,33.70,33.70,33.70,34.54,NaN
2,Afghanistan,AFG,Dealing with construction permits: Building qu...,IC.DCP.BQC.XD.015.DB1619,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.50,2.50,2.50,2.50,3.00,NaN
3,Afghanistan,AFG,Dealing with construction permits: Building qu...,IC.CNST.PRMT.BQCI.015.DB1619.DFRN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.67,16.67,16.67,16.67,20.00,NaN
4,Afghanistan,AFG,Dealing with construction permits: Cost (% of ...,IC.CNST.PRMT.COST.WRH.VAL,NaN,NaN,166.50,154.10,160.10,112.50,...,85.60,80.50,71.20,66.90,59.40,61.20,66.00,71.70,73.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43455,Zimbabwe,ZWE,Trading across borders: Time to export: Border...,TRD.ACRS.BRDR.EXPT.TM.BRDR.COMP.HR.DB1619.DFRN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.07,45.07,45.07,45.07,45.07,NaN
43456,Zimbabwe,ZWE,Trading across borders: Time to export: Docume...,TRD.ACRS.BRDR.EXPT.TM.DOC.COMP.HR.DB1619.DFRN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,42.01,42.01,42.01,42.01,42.01,NaN
43457,Zimbabwe,ZWE,Trading across borders: Time to import (days) ...,TRD.ACRS.BRDR.IMP.TM.DY.DB0615.DFRN,NaN,NaN,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN
43458,Zimbabwe,ZWE,Trading across borders: Time to import: Border...,TRD.ACRS.BRDR.IMP.TM.BRDR.COMP.HR.DB1619.DFRN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.97,78.97,18.76,18.76,18.76,NaN
43459,Zimbabwe,ZWE,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,66.53,66.53,66.53,66.53,66.53,NaN

In [2]:
df = df.drop(['Country Code', 'Indicator Code', 'Unnamed: 20'], axis = 1)
df

,Country Name,Indicator Name,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Dealing with construction permits (DB06-15 met...,NaN,NaN,24.11,24.11,24.11,24.11,24.11,24.11,24.11,24.11,24.49,39.38,NaN,NaN,NaN,NaN
1,Afghanistan,Dealing with construction permits (DB16-19 met...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.70,33.70,33.70,33.70,34.54
2,Afghanistan,Dealing with construction permits: Building qu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.50,2.50,2.50,2.50,3.00
3,Afghanistan,Dealing with construction permits: Building qu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.67,16.67,16.67,16.67,20.00
4,Afghanistan,Dealing with construction permits: Cost (% of ...,NaN,NaN,166.50,154.10,160.10,112.50,97.10,85.60,80.50,71.20,66.90,59.40,61.20,66.00,71.70,73.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43455,Zimbabwe,Trading across borders: Time to export: Border...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.07,45.07,45.07,45.07,45.07
43456,Zimbabwe,Trading across borders: Time to export: Docume...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.01,42.01,42.01,42.01,42.01
43457,Zimbabwe,Trading across borders: Time to import (days) ...,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN
43458,Zimbabwe,Trading across borders: Time to import: Border...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.97,78.97,18.76,18.76,18.76
43459,Zimbabwe,Trading across borders: Time to import: Docume...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.53,66.53,66.53,66.53,66.53

In [3]:
df1 = pd.DataFrame(
        df.pivot(index='Indicator Name', 
                 columns='Country Name').unstack().reset_index())
df1.head()

  level_0 Country Name                                     Indicator Name   0
0    2004  Afghanistan  Dealing with construction permits (DB06-15 met... NaN
1    2004  Afghanistan  Dealing with construction permits (DB16-19 met... NaN
2    2004  Afghanistan  Dealing with construction permits: Building qu... NaN
3    2004  Afghanistan  Dealing with construction permits: Building qu... NaN
4    2004  Afghanistan  Dealing with construction permits: Cost (% of ... NaN

In [4]:
df1.columns = ['Year', 'Country', 'Measure', 'Score']
df1

,Year,Country,Measure,Score
0,2004,Afghanistan,Dealing with construction permits (DB06-15 met...,NaN
1,2004,Afghanistan,Dealing with construction permits (DB16-19 met...,NaN
2,2004,Afghanistan,Dealing with construction permits: Building qu...,NaN
3,2004,Afghanistan,Dealing with construction permits: Building qu...,NaN
4,2004,Afghanistan,Dealing with construction permits: Cost (% of ...,NaN
...,...,...,...,...
695355,2019,Zimbabwe,Trading across borders: Time to export: Border...,45.07
695356,2019,Zimbabwe,Trading across borders: Time to export: Docume...,42.01
695357,2019,Zimbabwe,Trading across borders: Time to import (days) ...,NaN
695358,2019,Zimbabwe,Trading across borders: Time to import: Border...,18.76
695359,2019,Zimbabwe,Trading across borders: Time to import: Docume...,66.53

In [5]:
df1 = df1.pivot_table(values='Score', index='Measure', columns=['Year', 'Country']
                   ).T.reset_index()
df1

Measure,Year,Country,Dealing with construction permits (DB06-15 methodology) - Score,Dealing with construction permits (DB16-19 methodology) - Score,Dealing with construction permits: Building quality control index (0-15) (DB16-19 methodology),Dealing with construction permits: Building quality control index (0-15) (DB16-19 methodology) - Score,Dealing with construction permits: Cost (% of Warehouse value),Dealing with construction permits: Cost (% of Warehouse value) - Score,Dealing with construction permits: Liability and insurance regimes index (0-2) (DB16-19 methodology),Dealing with construction permits: Procedures (number),...,Trading across borders: Documents to export (number) (DB06-15 methodology),Trading across borders: Documents to export (number) (DB06-15 methodology) - Score,Trading across borders: Documents to import (number) (DB06-15 methodology),Trading across borders: Documents to import (number) (DB06-15 methodology) - Score,Trading across borders: Time to export (days) (DB06-15 methodology) - Score,Trading across borders: Time to export: Border compliance (hours) (DB16-19 methodology) - Score,Trading across borders: Time to export: Documentary compliance (hours) (DB16-19 methodology) - Score,Trading across borders: Time to import (days) (DB06-15 methodology) - Score,Trading across borders: Time to import: Border compliance (hours) (DB16-19 methodology) - Score,Trading across borders: Time to import: Documentary compliance (hours) (DB16-19 methodology) - Score
0,2004,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,2019,Vietnam,NaN,79.05,12.0,80.00,0.7,96.54,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,66.04,71.01,NaN,80.29,68.62
3021,2019,West Bank and Gaza,NaN,56.15,12.0,80.00,14.4,28.24,0.0,20.0,...,NaN,NaN,NaN,NaN,NaN,96.86,57.99,NaN,98.21,81.45
3022,2019,"Yemen, Rep.",NaN,0.00,NaN,0.00,NaN,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.00,0.00
3023,2019,Zambia,NaN,71.65,10.0,66.67,2.6,86.92,0.0,10.0,...,NaN,NaN,NaN,NaN,NaN,25.16,43.79,NaN,57.35,70.29
3024,2019,Zimbabwe,NaN,48.55,10.0,66.67,22.7,0.00,0.5,10.0,...,NaN,NaN,NaN,NaN,NaN,45.07,42.01,NaN,18.76,66.53

In [6]:
df2 = pd.read_csv('data/GDPpc.csv')
df2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24630.939270,23512.602600,24984.279450,24709.602260,25018.308950,25528.403780,25796.380250,25251.639680,25655.102020,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,444.184404,550.514974,599.297630,648.511070,647.966461,625.339539,590.076474,549.582760,550.068459,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3117.896944,3585.905553,4615.867475,5102.489969,5258.407376,5412.692348,4170.730358,3509.604211,4100.289786,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4114.134899,4094.360204,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4131.872341,4537.579056,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43339.379870,39736.354060,41098.766940,38391.080870,40619.711300,42294.994730,36038.267600,37231.815670,39146.548840,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3209.694109,3283.510304,3736.363217,3600.673475,3876.958302,4054.721339,3574.543333,3697.121677,3957.441819,NaN
260,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1093.812918,1309.231960,1349.420250,1421.171575,1580.181601,1647.033657,1693.907815,1320.924127,1106.803906,NaN
261,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,433.941194,444.896268,461.798232,498.601747,534.374176,568.348265,...,5805.998362,7276.376756,7967.678159,7478.136578,6819.062302,6429.023950,5742.987800,5279.730472,6151.077955,NaN
262,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,234.166194,221.728401,213.894229,214.852954,243.105321,303.882532,...,1139.110233,1463.213573,1644.619672,1734.930612,1850.793359,1738.088202,1313.889646,1262.989682,1513.276316,NaN
263,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,280.994586,283.315869,279.440989,280.566213,285.053174,297.363437,...,699.882264,854.847665,980.208824,1163.418689,1268.126633,1264.983826,1265.294413,1272.335450,1333.395663,NaN

In [7]:
df2 = df2.drop(['Country Code', 'Indicator Code'], axis = 1)
df2

,Country Name,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24630.939270,23512.602600,24984.279450,24709.602260,25018.308950,25528.403780,25796.380250,25251.639680,25655.102020,NaN
1,Afghanistan,GDP per capita (current US$),59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,137.899362,161.322000,...,444.184404,550.514974,599.297630,648.511070,647.966461,625.339539,590.076474,549.582760,550.068459,NaN
2,Angola,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3117.896944,3585.905553,4615.867475,5102.489969,5258.407376,5412.692348,4170.730358,3509.604211,4100.289786,NaN
3,Albania,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4114.134899,4094.360204,4437.177794,4247.614342,4413.082887,4578.667934,3952.830781,4131.872341,4537.579056,NaN
4,Andorra,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43339.379870,39736.354060,41098.766940,38391.080870,40619.711300,42294.994730,36038.267600,37231.815670,39146.548840,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3209.694109,3283.510304,3736.363217,3600.673475,3876.958302,4054.721339,3574.543333,3697.121677,3957.441819,NaN
260,"Yemen, Rep.",GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1093.812918,1309.231960,1349.420250,1421.171575,1580.181601,1647.033657,1693.907815,1320.924127,1106.803906,NaN
261,South Africa,GDP per capita (current US$),433.941194,444.896268,461.798232,498.601747,534.374176,568.348265,603.069811,654.626304,...,5805.998362,7276.376756,7967.678159,7478.136578,6819.062302,6429.023950,5742.987800,5279.730472,6151.077955,NaN
262,Zambia,GDP per capita (current US$),234.166194,221.728401,213.894229,214.852954,243.105321,303.882532,343.912055,360.770244,...,1139.110233,1463.213573,1644.619672,1734.930612,1850.793359,1738.088202,1313.889646,1262.989682,1513.276316,NaN
263,Zimbabwe,GDP per capita (current US$),280.994586,283.315869,279.440989,280.566213,285.053174,297.363437,281.490800,297.231875,...,699.882264,854.847665,980.208824,1163.418689,1268.126633,1264.983826,1265.294413,1272.335450,1333.395663,NaN

In [8]:
df2 = pd.DataFrame(
        df2.pivot(index='Indicator Name', 
                 columns='Country Name').unstack().reset_index())
df2.head()

  level_0    Country Name                Indicator Name           0
0    1960     Afghanistan  GDP per capita (current US$)   59.777327
1    1960         Albania  GDP per capita (current US$)         NaN
2    1960         Algeria  GDP per capita (current US$)  244.824806
3    1960  American Samoa  GDP per capita (current US$)         NaN
4    1960         Andorra  GDP per capita (current US$)         NaN

In [9]:
df2.columns = ['Year', 'Country', 'Measure', 'GDP']
df2

       Year             Country                       Measure         GDP
0      1960         Afghanistan  GDP per capita (current US$)   59.777327
1      1960             Albania  GDP per capita (current US$)         NaN
2      1960             Algeria  GDP per capita (current US$)  244.824806
3      1960      American Samoa  GDP per capita (current US$)         NaN
4      1960             Andorra  GDP per capita (current US$)         NaN
...     ...                 ...                           ...         ...
15571  2018  West Bank and Gaza  GDP per capita (current US$)         NaN
15572  2018               World  GDP per capita (current US$)         NaN
15573  2018         Yemen, Rep.  GDP per capita (current US$)         NaN
15574  2018              Zambia  GDP per capita (current US$)         NaN
15575  2018            Zimbabwe  GDP per capita (current US$)         NaN

[15576 rows x 4 columns]

In [10]:
dfy = df2.pivot_table(values='GDP', index='Measure', columns=['Year', 'Country']
                   ).T.reset_index()
dfy

Measure  Year             Country  GDP per capita (current US$)
0        1960         Afghanistan                     59.777327
1        1960             Algeria                    244.824806
2        1960           Australia                   1807.349784
3        1960             Austria                    935.460427
4        1960        Bahamas, The                   1550.324315
...       ...                 ...                           ...
11819    2017  West Bank and Gaza                   3094.725747
11820    2017               World                  10721.608850
11821    2017         Yemen, Rep.                   1106.803906
11822    2017              Zambia                   1513.276316
11823    2017            Zimbabwe                   1333.395663

[11824 rows x 3 columns]

In [11]:
merged = pd.merge(df1, dfy, on = ['Country', 'Year'], how = 'inner')
merged

Measure,Year,Country,Dealing with construction permits (DB06-15 methodology) - Score,Dealing with construction permits (DB16-19 methodology) - Score,Dealing with construction permits: Building quality control index (0-15) (DB16-19 methodology),Dealing with construction permits: Building quality control index (0-15) (DB16-19 methodology) - Score,Dealing with construction permits: Cost (% of Warehouse value),Dealing with construction permits: Cost (% of Warehouse value) - Score,Dealing with construction permits: Liability and insurance regimes index (0-2) (DB16-19 methodology),Dealing with construction permits: Procedures (number),...,Trading across borders: Documents to export (number) (DB06-15 methodology) - Score,Trading across borders: Documents to import (number) (DB06-15 methodology),Trading across borders: Documents to import (number) (DB06-15 methodology) - Score,Trading across borders: Time to export (days) (DB06-15 methodology) - Score,Trading across borders: Time to export: Border compliance (hours) (DB16-19 methodology) - Score,Trading across borders: Time to export: Documentary compliance (hours) (DB16-19 methodology) - Score,Trading across borders: Time to import (days) (DB06-15 methodology) - Score,Trading across borders: Time to import: Border compliance (hours) (DB16-19 methodology) - Score,Trading across borders: Time to import: Documentary compliance (hours) (DB16-19 methodology) - Score,GDP per capita (current US$)
0,2004,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2373.581292
1,2004,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2598.908023
2,2004,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1248.404906
3,2004,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4251.574348
4,2004,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191.961920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,2017,Vietnam,NaN,78.89,12.0,80.00,0.8,95.90,0.0,10.0,...,NaN,NaN,NaN,NaN,64.32,71.01,NaN,78.15,68.62,2342.244003
2337,2017,West Bank and Gaza,NaN,55.98,12.0,80.00,14.5,27.56,0.0,20.0,...,NaN,NaN,NaN,NaN,96.86,57.99,NaN,98.21,81.45,3094.725747
2338,2017,"Yemen, Rep.",NaN,0.00,NaN,0.00,NaN,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,0.00,0.00,1106.803906
2339,2017,Zambia,NaN,70.85,10.0,66.67,3.3,83.72,0.0,10.0,...,NaN,NaN,NaN,NaN,7.55,23.67,NaN,41.94,44.35,1513.276316
2340,2017,Zimbabwe,NaN,46.39,10.0,66.67,25.4,0.00,0.5,10.0,...,NaN,NaN,NaN,NaN,45.07,42.01,NaN,18.76,66.53,1333.395663

In [12]:
import numpy as np

merged.shape

(2341, 208)

In [14]:
merged.columns

Index(['Year', 'Country',
       'Dealing with construction permits (DB06-15 methodology) - Score',
       'Dealing with construction permits (DB16-19 methodology) - Score',
       'Dealing with construction permits: Building quality control index (0-15) (DB16-19 methodology)',
       'Dealing with construction permits: Building quality control index (0-15) (DB16-19 methodology) - Score',
       'Dealing with construction permits: Cost (% of Warehouse value)',
       'Dealing with construction permits: Cost (% of Warehouse value) - Score',
       'Dealing with construction permits: Liability and insurance regimes index (0-2) (DB16-19 methodology)',
       'Dealing with construction permits: Procedures (number)',
       ...
       'Trading across borders: Documents to export (number) (DB06-15 methodology) - Score',
       'Trading across borders: Documents to import (number) (DB06-15 methodology)',
       'Trading across borders: Documents to import (number) (DB06-15 methodology) - Score',
       'Trading across borders: Time to export (days) (DB06-15 methodology) - Score',
       'Trading across borders: Time to export: Border compliance (hours) (DB16-19 methodology) - Score',
       'Trading across borders: Time to export: Documentary compliance (hours) (DB16-19 methodology) - Score',
       'Trading across borders: Time to import (days) (DB06-15 methodology) - Score',
       'Trading across borders: Time to import: Border compliance (hours) (DB16-19 methodology) - Score',
       'Trading across borders: Time to import: Documentary compliance (hours) (DB16-19 methodology) - Score',
       'GDP per capita (current US$)'],
      dtype='object', name='Measure', length=208)

In [20]:
merged_stats = merged['GDP per capita (current US$)'].sort_values(ascending = False)
merged_stats

1705    119225.380000
1188    115761.507700
685     114293.843300
1526    113625.132900
1356    106749.013600
            ...
293        165.904749
170        161.626625
150        150.487614
36         135.762386
17         127.429665
Name: GDP per capita (current US$), Length: 2341, dtype: float64

In [34]:
#merged_stats.corr() was not working

TypeError: corr() missing 1 required positional argument: 'other'

In [ ]:
#Firstly, the statistics are bad because the researchers estimate a population size by simply multiplying the 
#number of laureates by 10 million. Estimating would normally be ok, but given that population sizes can easily 
#be found on the internet, applying this mathematical function is wasteful. The data will also be very skewed. 
#If there are 5 laureates in 1 country and 3 in another, but the population size of the country with 3 is larger 
#than the populize size of the country with 5, the data becomes inaccurate.

#Secondly, the data that was acquired in order to do the research came from unreliable sources 
#(wikipedia, non-scholarly-based websites). The data there could have been very wrong. Furthermore, at the end of 
#the research paper, only 5 sources are listed. A published paper should have far more data available.

#Lastly, each country has a different lifestyle. Chocolate might not be as favorable a snack everywhere, yet we 
#can't assume that the countries that consume less chocolate are any less functional cognitively. Sweden is a prime 
#example of that. Chocolate is not the only factor that influences cognitive abilities. Environment and a person's 
#individual history plays a huge role in cognitive abilities.